// anlegen von mixin in ausgelagerter Datei
// mixing
// @mixin flexit {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     h1 {
//         color: green;
//     }
// }

// // parameter template

// @mixin styletext($fs, $fw, $co, $td, $tt, $bg) {
//     font-size: $fs;
//     font-weight: $fw;
//     color: $co;
//     text-decoration: $td;
//     text-transform: $tt;
//     background-color: $bg;
// }


@mixin nav-foot {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background: $main-color;
}

@mixin main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@mixin aside-parts {
    border: 0.2rem solid $main-color;
    padding: 1rem;
    margin-bottom: 1rem;
}